
{% extends 'jobfair/headerfooter.html' %}
{% block title %}
<title>Mizone | Pinnacle 2022 - Registration Details</title>
{% endblock %}
{% block content %}
<style type="text/css">
  .grid li:before {
    height: 100%;
    top: 0;
    left: -1px;
    border-left: 1px solid white;
}
</style>

<!-- <div id="slider" class="inspiro-slider" data-height-xs="360">

<div class="slide" style="background-image:url('/static/jobfair/images/banner/pinnacle1.jpg');">
</div>



</div> -->
<section id="slider" class="no-padding">
<div class=" " data-lightbox="gallery" data-items="1" data-items-md="1" data-items-sm="1" data-margin="0">
<div class="portfolio-item ">
<!-- <div class="portfolio-item-wrap"> -->
<div class="portfolio-image">
<img src="/static/jobfair/images/banner/banner.jpeg" alt="">
</div>
<!-- <div class="portfolio-description">
<a title="Paper Pouch!" data-lightbox="image" href="images/mockup/12.jpg" class="btn btn-light btn-rounded">Zoom</a>
</div> -->
</div>
</div>
<!-- <div class="portfolio-item img-zoom">
<div class="portfolio-item-wrap">
<div class="portfolio-image">
<a ><img src="images/mockup/11.jpg" alt=""></a>
</div>
<div class="portfolio-description">
<a title="Paper Pouch!" data-lightbox="image" href="images/mockup/11.jpg" class="btn btn-light btn-rounded">Zoom</a>
</div>
</div>
</div>
<div class="portfolio-item img-zoom">
<div class="portfolio-item-wrap">
<div class="portfolio-image">
<a ><img src="images/mockup/13.jpg" alt=""></a>
</div>
<div class="portfolio-description">
<a title="Paper Pouch!" data-lightbox="image" href="images/mockup/13.jpg" class="btn btn-light btn-rounded">Zoom</a>
</div>
</div>
</div>
<div class="portfolio-item img-zoom">
<div class="portfolio-item-wrap">
<div class="portfolio-image">
<a ><img src="images/mockup/9.jpg" alt=""></a>
</div>
<div class="portfolio-description">
<a title="Paper Pouch!" data-lightbox="image" href="images/mockup/9.jpg" class="btn btn-light btn-rounded">Zoom</a>
</div>
</div>
</div>
<div class="portfolio-item img-zoom">
<div class="portfolio-item-wrap">
<div class="portfolio-image">
<a ><img src="images/mockup/10.jpg" alt=""></a>
</div>
<div class="portfolio-description">
<a title="Paper Pouch!" data-lightbox="image" href="images/mockup/10.jpg" class="btn btn-light btn-rounded">Zoom</a>
</div>
</div>
</div> -->
</div>

</section>
<section id="section4" style="padding-bottom: 0;" class="pt-3">
<h5 class="text-center" style="font-weight: 400;font-size: 17px">Point your carrier in a right direction with Pinnacle'22. Time for something new! Employers & candidates do register yourself to be a part of this mega event !.</h5>
</section>

<section class="p-b-10">
  <div class="container">
  <div class="row">
  <div class="col-lg-6">
  <div class="heading-text heading-section">
  <h2 style="font-size:36px;text-transform: uppercase;"><span style="color: #2da6de;font-weight: 900;">Pinnacle</span><span style="font-weight: 900;">'22</span></h2>
  <span class="lead" style ="text-align: justify;
  text-justify: inter-word;color: #000"><p style="color: #000">Turn over a new leaf with a new job !   Mizone is hosting a Mega Job Fair-  PINNACLE’22!<br>
    <!-- <p style="color: #000"> -->This event gives students and employers a chance to meet one another, establish professional relationships and discuss potential job or internship opportunities.<br><br><!-- </p> -->
<!-- <p style="color: #000"> --><strong >Pinnacle'22 is scheduled on Saturday, 30th of April 2022 from 9:30am to 3:00pm at Mizone.</strong><!-- </p> --><br>
<!-- <p style="color: #000"> -->Note: A candidate can attend maximum of 3  allocated Interviews so we humbly request the candidates to carry 3 copies of your resumes and 3 passport size photos.</p>
<p style="color: #000"><strong> FOR FREE REGISTRATION : </strong><br><br><a  onMouseOver="this.style.color='red'"
        onMouseOut="this.style.color='white'"style="background-color: #022764;color: white; padding: 10px; border-radius: 25px;" href="http://jobs.mizone.in/">http://jobs.mizone.in/</a>
</p>
<p style="color: #000">If you are an <strong >Employer</strong> & Looking for a candidate, you may please click the link below to be a part of this mega event ! <br><br>
  <a  onMouseOver="this.style.color='red'"
        onMouseOut="this.style.color='white'"style="background-color: #022764;color: white; padding: 10px; border-radius: 25px;"href="http://jobs.mizone.in/pinnacle-employer-registration/">http://jobs.mizone.in/pinnacle-employer-registration/</a>
</p>
<p style="color: #000; background: #1ab3f7;
    background: -webkit-linear-gradient(to left, #1ab3f7, #b1e5fc);
    background: linear-gradient(to left, #1ab3f7, #b1e5fc);padding: 10px;border-radius: 5px; "><strong >Kindly Note - Registration will be closed by 27th April.</strong></p>
<p style="color: #000">Hurry up ..... & Utilise the opportunity... !</p>
</span>
  </div>
  </div>
  <div class="col-lg-6 m-t-100">
    <div class="post-image"> <a > <img alt="" src="/static/jobfair/images/blog/details.jpg"> </a>
      <!--  <span class="post-meta-category"><a >Lifestyle</a></span> --> 
  <!-- </div> -->
  <!-- <div class="p-progress-bar-container title-up small extra-small color">
  <div class="p-progress-bar" data-percent="100" data-delay="100" data-type="%">
  <div class="progress-title">HTML5</div>
  </div>
  </div>
  <div class="p-progress-bar-container title-up small extra-small color">
  <div class="p-progress-bar" data-percent="94" data-delay="200" data-type="%">
  <div class="progress-title">CSS3</div>
  </div>
  </div>
  <div class="p-progress-bar-container title-up small extra-small color">
  <div class="p-progress-bar" data-percent="78" data-delay="300" data-type="%">
  <div class="progress-title">JQUERY</div>
  </div>
  </div>
  <div class="p-progress-bar-container title-up small extra-small color">
  <div class="p-progress-bar" data-percent="65" data-delay="400" data-type="%">
  <div class="progress-title">MYSQL</div>
  </div>
  </div> -->
  </div>
  </div>
  </div>
  </section>
  <section id="section4" style="padding-top: 0;">
<!-- <h5 class="text-center" style="font-weight: 400;font-size: 17px">Point your carrier in a right direction with Pinnacle'22. Time for something new! Employers & candidates do register yourself to be a part of this mega event !.</h5>
 -->
<div class="container pt-3">
<div class="heading heading-text heading-section text-center ">
<h2>Registration</h2>
<!-- <span class="lead">Create amam ipsum dolor sit amet, Beautiful nature, and rare feathers!.</span> -->
</div>
<div class="row d-flex justify-content-around pt-2">

<div class="col-md-5  text-left text-white"  style=" padding: 1rem 0;   background: #022764;
    background: -webkit-linear-gradient(to right, #022764, #022764);
    background: linear-gradient(to right, #022764, #022764);
">
  <h3 style="padding-left: 2rem;"><strong style="padding-right: 6rem">Looking for a Job?</strong><a class="btn btn-white" style="text-transform: capitalize;"  href="/pinnacle-employee-registration/"><i class=""></i><span class="text-dark" >Register</span></a></h3> <p style="padding-left: 2rem" class="text-white">(Employee Registration)</p>
 <!-- <p class="text-dark">(Employee Registration)</p> -->

<!-- <h3>Employee</h3> -->
<!-- <h4 class="m-b-0">Job Position</h4> -->
<!-- <p>April 2006 - May 2007</p> -->

<!-- <p> The most happiest time of the day!. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. A true story, that never been told!. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor. Ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis.
</p> -->

</div>
<div class="col-md-5  text-left text-white" style=" padding: 1rem 0;    background: #022764;
    background: -webkit-linear-gradient(to right, #022764, #022764);
    background: linear-gradient(to right, #022764, #022764);
">
  <!-- <h3 style="padding-left: 2rem"><strong style="padding-right: 5rem;">Looking for a Candidate?</strong>
 <a  class="btn btn-white text-dark"  href="/pinnacle-employer-registration/"  style="text-transform: capitalize; color: black" ><span class="text-dark" >Register</span></a></h3>    <p style="padding-left: 2rem"class="text-white">(Employer Registration)</p> -->
 <h3 style="padding-left: 2rem;"><strong style="padding-right: 2rem">Looking for a Candidate? </strong><a class="btn btn-white" style="text-transform: capitalize;"  href="/pinnacle-employer-registration/"><i class=""></i><span class="text-dark" >Register</span></a></h3> <p style="padding-left: 2rem" class="text-white">(Employer Registration)</p>
 <!-- <p class="text-dark">(Employer Registration)</p> -->
<!-- <h3>Employer</h3> -->
<!-- <h4 class="m-b-0">Job Position</h4> -->
<!-- <p>April 2006 - May 2007</p> -->
<!-- <p> The most happiest time of the day!. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. A true story, that never been told!. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor. Ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis.
</p> -->

</div>
</div>
</div>
</section>
 <!--  <section style="padding-bottom: 0px;">
<div class="container">
<div class="heading-text heading-section text-center">
<h2>Our Supporting Partners</h2>
</div>
<ul class="grid grid-5-columns">
<li>
<a ><img src="/static/jobfair/images/img/keralastarupmission.jpg" alt="">
</a>
</li>
<li>
<a ><img src="/static/jobfair/images/img/kdisc.jpg" alt="">
</a>
</li>
<li>
<a ><img src="/static/jobfair/images/img/kannurjillapanchayat.jpg" alt="">
</a>
</li>
<li>
<a ><img src="/static/jobfair/images/img/kannur-university.jpg" alt="">
</a>
</li>
<li>
<a ><img src="/static/jobfair/images/img/nmcc-kannur.jpg" alt="">
</a>
</li>
</ul>
</div>
</section> -->
<section style="padding-bottom: 0px;">
<div class="container">
<div class="heading-text heading-section text-center">
<h2>Our Supporting Partners</h2>
<!-- <span class="lead">Our awesome clients we've had the pleasure to work with! </span> -->
</div>
<div class="row justify-content-between">
    <div class="col-md-2">
      <div class="thumbnail">
        <!-- <a href="/w3images/lights.jpg" target="_blank"> -->
          <img src="/static/jobfair/images/img/keralastarupmission.jpg" alt="keralastarupmission" style="width:100%">
          <!-- <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a> -->
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail">
        <!-- <a href="/w3images/nature.jpg" target="_blank"> -->
          <img src="/static/jobfair/images/img/kdisc.jpg" alt="kdisc" style="width:100%">
          <!-- <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a> -->
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail">
        <!-- <a href="/w3images/lights.jpg" target="_blank"> -->
          <img src="/static/jobfair/images/img/kannurjillapanchayat.jpg" alt="kannurjillapanchayat" style="width:100%">
          <!-- <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a> -->
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail">
        <!-- <a href="/w3images/nature.jpg" target="_blank"> -->
          <img src="/static/jobfair/images/img/kannur-university.jpg" alt="kannur-university" style="width:100%">
          <!-- <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a> -->
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail">
        <!-- <a href="/w3images/fjords.jpg" target="_blank"> -->
          <img src="/static/jobfair/images/img/nmcc-kannur.jpg" alt="nmcc-kannur" style="width:100%">
          <!-- <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a> -->
      </div>
    </div>
  </div>
</div>
</section>
 <!-- <section>
<div class="container">
<div class="heading-text heading-section text-center">
<h2>Our Technology Partners</h2>
</div>
<ul class="grid d-flex justify-content-center">
<li>
<a ><img src="/static/jobfair/images/img/btrac.jpg" alt="">
</a>
</li>

</ul>
</div>
</section> -->
<section >
<div class="container">
<div class="heading-text heading-section text-center">
<h2>Our Technology Partner</h2>
<!-- <span class="lead">Our awesome clients we've had the pleasure to work with! </span> -->
</div>
<div class="row justify-content-center">
    <div class="col-md-2">
      <div class="thumbnail">
        <!-- <a href="/w3images/fjords.jpg" target="_blank"> -->
          <img src="/static/jobfair/images/img/btrac.jpg" alt="btrac" style="width:100%">
          <!-- <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a> -->
      </div>
    </div>
  </div>
</div>
</section>
<!-- <section>
<div class="container">
<div class="row">
<div class="col-lg-6">
<div class="accordion toggle fancy clean accordion-transparent">
<div class="ac-item">
<h5 class="ac">Why Should I Register for Reboot 2022?</h5>
<div class="ac" style=""><p>Reboot 2022 is Malabar’s largest job fair, placing over 1000 students each year. It is the ideal venue for you to network with top companies. These companies are actively
recruiting young talent, and you have the opportunity to impress them before they select candidates for an interview call. It’s an opportunity to network with over 100 company representatives from a range of industries.</p><br><p>This is an opportunity for you to establish a presence in the Cyberpark, which is one of Kerala’s primary focus areas and has the potential to grow to be one of the largest in the country. This is also an opportunity for you to witness the exciting and dynamic start of an IT and ITES ecosystem at its most creative and vibrant stage.</p>
</div>
</div>
<div class="ac-item">
<h5 class="ac-title">How should I Apply?</h5>
<div class="ac-content" style="display: none;"><p>Apply online at <span style="text-decoration: underline;"><a href="/reboot-registration/">https://www.cafit.org.in/reboot-registration/</a></span>. You must submit your<br>resume; registration is open from March 1st to March 20th.</p>
<p>Then, on the day of the job fair, you can walk into Cyberpark and meet with the respective company representatives for the preliminary round of interviews.</p></div>
</div>

</div>
</div>
<div class="col-lg-6">
<div class="accordion toggle fancy clean accordion-transparent">
<div class="ac-item">
<h5 class="ac">What are the Job Openings Available?</h5>
<div class="ac" style=""><p>A Participating company’s job opportunities are extremely diverse. They range from coding and design to sales and marketing, business development, administration, financial management, and customer service.</p><p>You can choose a job in a variety of fields based on your skills.</p><br><p>For instance : – </p><p><strong>Programming</strong> : Web design, software development, and mobile application design</p>

<p><strong>Designing</strong> : Websites, mobile applications, graphics, and logos</p>
<p>
<strong>Advertising </strong>: digital advertising – Sales: both customer-facing and business-facing
</p>
<p>
<strong>Content Creation </strong>: Writing Blogs and Copywriting
</p>
<p>
<strong>Business Development</strong> : Human resources:recruitment and development
</p><p>
<strong>Administration </strong>: bookkeeping, legal support, and human resource management
</p><p>
<strong>Project Management</strong> : Project management</p>
</div>
</div>
<div class="ac-item">
<h5 class="ac-title">How should I Apply?</h5>
<div class="ac-content" style="display: none;"><p>Apply online at <span style="text-decoration: underline;"><a href="/reboot-registration/">https://www.cafit.org.in/reboot-registration/</a></span>. You must submit your<br>resume; registration is open from March 1st to March 20th.</p>
<p>Then, on the day of the job fair, you can walk into Cyberpark and meet with the respective company representatives for the preliminary round of interviews.</p></div>
</div>

</div>
</div>
</div>
</div>
</section> -->
<!-- <section class="halfscreen" data-bg-parallax="/static/jobfair/images/parallax/2.jpg">
<div class="bg-overlay"></div>
<div class="container-fluid container-fullscreen text-light">
<div class="text-left pl-1">
<h1 class="text-uppercase text-medium">Looking for a Job?</h1> -->
<!-- <h3 class="lead">Looking for a Job?</h3> -->
<!-- <a class="btn" href="/pinnacle-employee-registration/"><i class=""></i>Register Now</a>
</div>
&nbsp;&nbsp;
&nbsp;&nbsp;
<div class="text-right pr-1">
  <h1 class="text-uppercase text-medium">Looking for a Candidate?</h1> -->
  <!-- <h3 class="lead">Looking for a Employee?</h3> -->
<!-- <a class="btn" href="/pinnacle-employer-registration/">Register Now</a>
</div>
</div>
</section> -->
{% endblock %}
