
{% extends 'jobfair/headerfooter.html' %}
{% block title %}
<title>Pinnacle 2022 | Employee Registration </title>
{% endblock %}
{% block content %}
<!-- <section id="page-title" data-bg-parallax="">
<div class="bg-overlay"></div>
<div class="container">
<div class="page-title">
<h1 class="text-uppercase text-medium">Employee Registration</h1>
<h4 style="color: red; text-align: center;" >{{error}}</h4>
<h4 style="color: green; text-align: center;" >{{msg}}</h4>
</div>
</div>
</section> -->
<script type="text/javascript">
  {% if msg %}
  swal("Thank You!", "for submitting your Application!", "success");
  {% elif error %}
  swal("Sorry!", "Already Registered!", "error");
  {% endif %}
</script>
<!-- <div id="slider" class="inspiro-slider" data-height-xs="360">

<div class="slide" style="background-image:url('/static/jobfair/images/parallax/14.jpg');">
<div class="container">
<div class="">
<div class="page-title">
<h1 class=" text-medium text-center text-light">Employee Registration</h1>
<h4 style="color: red; text-align: center;" >{{error}}</h4>
<h4 style="color: green; text-align: center;" >{{msg}}</h4>
</div>
</div>
</div>
</div>
</div> -->
<section id="slider" class="no-padding">
<div class=" " data-lightbox="gallery" data-items="1" data-items-md="1" data-items-sm="1" data-margin="0">
<div class="portfolio-item ">
<div class="portfolio-item-wrap">
<div class="portfolio-image">
<img src="/static/jobfair/images/banner/employee.jpg" alt="">
</div>
<div class="portfolio-description">
<!-- <a title="Paper Pouch!" data-lightbox="image" href="images/mockup/12.jpg" class="btn btn-light btn-rounded">Zoom</a> -->
<!-- <h1 class="text-medium text-center text-dark">Employee Registration</h1> -->

</div>
</div>
</div>
<!-- <div class="portfolio-item img-zoom">
<div class="portfolio-item-wrap">
<div class="portfolio-image">
<a href="#"><img src="images/mockup/11.jpg" alt=""></a>
</div>
<div class="portfolio-description">
<a title="Paper Pouch!" data-lightbox="image" href="images/mockup/11.jpg" class="btn btn-light btn-rounded">Zoom</a>
</div>
</div>
</div>
<div class="portfolio-item img-zoom">
<div class="portfolio-item-wrap">
<div class="portfolio-image">
<a href="#"><img src="images/mockup/13.jpg" alt=""></a>
</div>
<div class="portfolio-description">
<a title="Paper Pouch!" data-lightbox="image" href="images/mockup/13.jpg" class="btn btn-light btn-rounded">Zoom</a>
</div>
</div>
</div>
<div class="portfolio-item img-zoom">
<div class="portfolio-item-wrap">
<div class="portfolio-image">
<a href="#"><img src="images/mockup/9.jpg" alt=""></a>
</div>
<div class="portfolio-description">
<a title="Paper Pouch!" data-lightbox="image" href="images/mockup/9.jpg" class="btn btn-light btn-rounded">Zoom</a>
</div>
</div>
</div>
<div class="portfolio-item img-zoom">
<div class="portfolio-item-wrap">
<div class="portfolio-image">
<a href="#"><img src="images/mockup/10.jpg" alt=""></a>
</div>
<div class="portfolio-description">
<a title="Paper Pouch!" data-lightbox="image" href="images/mockup/10.jpg" class="btn btn-light btn-rounded">Zoom</a>
</div>
</div>
</div> -->
</div>
</section>
<section class="p-b-10">
<div class="container">
<div class="row">
<div class="col-lg-12">
	<div class="heading-text heading-section text-center heading-text heading">
<h2>Employee Registration Form</h2>
</div>
<form action="/pinnacle-employee-registration/" method="POST" enctype='multipart/form-data'>
  {% csrf_token %}
  <div class="form-row pt-3">
    <div class="form-group col-md-6">
      <label for="name">Name <span style="color: red;">*</span></label>
      <input type="text" name="name" class="form-control" id="name"  required>
    </div>
    <div class="form-group col-md-6">
     <label for="email">Email <span style="color: red;">*</span></label>
      <input type="Email" name="email" class="form-control" id="email"  required>
    </div>
  
  <div class="form-group col-md-6">
  	<br>
    <label for="phone">Phone Number <span style="color: red;">*</span></label>
    <input type="tel" name="phone" class="form-control" id="phone"  onkeypress="return onlyNumberKey(event)" required>
  </div>
  <div class="form-group col-md-6">
  	<br>
    <label for="qualification">Highest Qualification <span style="color: red;">*</span></label>
    <input type="text" name="qualification" class="form-control" id="qualification" required>
  </div>
  <div class="form-group col-md-6">
  	<br>
    <label for="experience">Experience <span style="color: red;">*</span></label>
    <input type="text" name="experience" class="form-control" id="experience"  required>
  </div>
  <div class="form-group col-md-6">
  	<br>
    <label for="linkedin">LinkedIn Profile </label>
    <input type="text" name="linkedin" class="form-control" id="linkedin" >
  </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
    	<br>
      <label for="Category">Job Category <span style="color: red;">*</span></label>
      <div class="container">

  <!-- <h2>Fill / Equal Widths</h2> -->
  <!-- <p>Use .flex-fill on flex items to force them into equal widths:</p> -->
   <div class="row m-1 pt-2">
    <div class="col   "><input class="form-check-input" type="radio" name="jobcategory" id="inlineRadio1" value="Programming" required>
  <label class="form-check-label" for="inlineRadio1">Programming</label></div>
    <div class="col   "><input class="form-check-input" type="radio" name="jobcategory" id="inlineRadio2" value="Designing" required>
  <label class="form-check-label" for="inlineRadio2">Designing</label></div>
    <div class="col   "><input class="form-check-input" type="radio" name="jobcategory" id="inlineRadio3" value="Marketing & Sales" required>
  <label class="form-check-label" for="inlineRadio3">Marketing & Sales</label></div>
    <div class="col   "> <input class="form-check-input" type="radio" name="jobcategory" id="inlineRadio5" value="Content Writing" required>
  <label class="form-check-label" for="inlineRadio5">Content Writing</label></div>
  </div>
   <div class="row m-1">
    <div class="col   "> <input class="form-check-input" type="radio" name="jobcategory" id="inlineRadio6" value="Business Development" required>
  <label class="form-check-label" for="inlineRadio6">Business Development</label></div>
    <div class="col   "> <input class="form-check-input" type="radio" name="jobcategory" id="inlineRadio7" value="Human Resource" required>
  <label class="form-check-label" for="inlineRadio7">Human Resource</label></div>
    <div class="col   "><input class="form-check-input" type="radio" name="jobcategory" id="inlineRadio8" value="Administration" required>
  <label class="form-check-label" for="inlineRadio8">Administration</label></div>
    <div class="col   "><input class="form-check-input" type="radio" name="jobcategory" id="inlineRadio9" value="Project Management" required>
  <label class="form-check-label" for="inlineRadio9">Project Management</label></div>
  </div>
   <div class="row m-1">
    <div class="col   "><input class="form-check-input" type="radio" name="jobcategory" id="inlineRadio10" value="Finance" required>
  <label class="form-check-label" for="inlineRadio10">Finance</label></div>
    <div class="col   "><input class="form-check-input" type="radio" name="jobcategory" id="inlineRadio11" value="Customer Relations" required>
  <label class="form-check-label" for="inlineRadio11">Customer Relations</label></div>
    <div class="col   "><input class="form-check-input" type="radio" name="jobcategory" id="inlineRadio12" value="Others" required>
  <label class="form-check-label" for="inlineRadio12">Others</label></div>
    <div class="col   "></div>
  </div>
</div>

  
<!-- <br> -->
<p class="m-1" style="font-size: 13px;">Select the job category you are looking for.</p>
    </div>
</div>
  <div class="form-row pt-3">
    <div class="form-group col-md-6">
    	<!-- <br> -->  
      <label for="Resume">Upload Your Resume <span style="color: red;">*</span></label>
      <input type="file" class="form-control" name="resume" id="Resume" accept=".pdf,.docx,.doc" required>
      <p style="font-size: 13px;">Maximum Uploadable size is 5 MB. Only PDF & Doc file types are supported.</p>
    </div>
   
  </div>
 <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
<div class="form-row pt-3">
    <div class="form-group col-md-12">
      <!-- <br> -->  
      <p style="color: #000"><strong>*Note: A candidate can attend maximum of 3 allocated Interviews so we humbly request the candidates to carry 3 copies of your resumes and 3 passport size photos.</strong></p>
    </div>
   
  </div>


</div>
</div>
<br>
<br>

</section>

{% endblock %}